<h1> Disposition: <%= @statistic.id %> </h1>
  <h2><%= @statistic.created_at %></h2>
  <p> Sleep: <%= @statistic.sleep %> </p>
  <p> Happiness: <%= @statistic.happiness %> </p>
  <p> Energy: <%= @statistic.energy %> </p>
  <p> Stress: <%= @statistic.stress %> </p>
  <p> Optimism: <%= @statistic.optimism %> </p>
  <p> Wins: <%= @statistic.wins %> </p>
  <p> Losses: <%= @statistic.losses %> </p>

  <div class="index-button"><%= link_to "Update", edit_user_statistic_path(@statistic.id) %></div>
